<!DOCTYPE html>
<html>
<head>
  <title>AppLikeInsta</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px">
  <%# //body{padding-top: 70px} navbar-fixed-topでoverlayさせないため %>
  <header class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href=<%= root_url %> class="navbar-brand"><span class="glyphicon glyphicon-home" aria-hidden="false"></span> App-like-Insta</a>
      </div>
      <div  class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href=<%= pictures_url %>><span class="glyphicon glyphicon-camera" aria-hidden="false"></span> 写真一覧</a></li>
        </ul>
      </div>

      <!--   <ul class="nav navbar&#45;nav navbar&#45;right"> -->
      <!--     <li><a href="#">###</a></li> -->
          <!-- <li class="dropdown"> -->
          <!--   <a href="#" class="dropdown&#45;toggle" data&#45;toggle="dropdown" role="button" aria&#45;expanded="false">DropDown<span class="caret"></span></a> -->
          <!--   <ul class="dropdown&#45;menu" role="menu"> -->
          <!--     <li><a href="#">Action</a></li> -->
          <!--     <li class="divider"></li> -->
          <!--     <li><a href="#">Action</a></li> -->
          <!--   </ul> -->
          <!-- </li> -->
      <!--   </ul> -->
      <!-- </nav> -->
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
